/* header */

header span {
    float: right;
    padding: 5px;
    margin: 10px;
}

header ul {
    float: right;
}

header ul li {
    margin: 10px;
    padding: 5px;
    display: inline-block;
}

header img {
    margin: 5px;
    padding: 5px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    float: right;
}


/* content */

img {
    width: 400px;
    height: 150px;
    display: block;
    margin: auto;
}

input[type=text] {
    margin: auto;
    width: 450px;
    padding: 10px;
    position: absolute;
    top: 33%;
    left: 35%;
}

.button1 input {
    margin: auto;
    position: absolute;
    top: 45%;
    left: 40%;
}

.button2 input {
    margin: auto;
    position: absolute;
    top: 45%;
    left: 50%;
}

p {
    margin: auto;
    position: absolute;
    top: 55%;
    left: 40%;
}


/* footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: grey;
}

footer p {
    color: #fff;
    font-size: 15px;
    left: 10px;
    padding: 5px;
    margin: 5px;
}